* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Poppins, Helvetica, sans-serif;
    line-height: 1.5;
  
    --primary-text-color: #181820;
    --secondary-text-color: #5c5c62;
    --durability-text-color: #6a737d9c;
    --icon-color: #6a737d;
    --border-color: #ff9a0045;
    --text-decoration-color: #ff9a00;
    background-color: #555555;
  }

  .resume {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .photo {
    width:200px;
    height: 200px;
    border-radius: 50%;
    background-image: url(./images/avatar.png);
    background-size: cover;
    margin-bottom: 20px;
    border: 5px solid #2979ff;
    animation-name: slidein;
    animation-duration: 2s;
    transition: transform 2s ease-out;
  }

  .photo:hover{
    transform: scale(1.2);
  }

  .personal-data {
    text-align: center;
    margin-bottom: 20px;
    animation-name: slidein;
    animation-duration: 2s;
  }
  .info:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: transform 2s ease-out;
  }

  .skills {
    text-align: left;
    margin-top: 5%;
    display: grid;
    gap: 60px;
    grid-template-columns: 1fr 1fr;
  }

  .info {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    width: 500px;
    height: 50px;
  }
  p{
    color:aliceblue;
    font-size: 24px;
    animation-name: slideUp;
    animation-duration: 2s;
  }

  img{
    border-radius: 50%;
    border: 2px solid #2979ff;
    width: 50px;
    height: 50px;
    animation-name: slideUp;
    animation-duration: 2s;
  }
  a{
    text-decoration: none;
    color: aliceblue;
    animation-name: slideUp;
    animation-duration: 2s;
  }
  span{
    background-color: #2979ff;
    height: 2px;
    width: 100%; 
  }

  h2{
    font-size: 34px;
  }

  h3{
    color: aliceblue;
    font-size: 40px;
    margin-top: 15%;
    margin-left: 15%;
  }

  .imageEnglish{
    text-align: center;
  }
  .frontStack{
    text-align: center;
  }
  .currently{
    text-align: center;
  }
  .back{
    text-align: center;
  }
  .imageEnglish img{
    width: 250px;
    height: 250px;
    margin-top: 10%;
    transition: transform 2s ease-out;
  }
  .frontStack img{
    width: 250px;
    height: 250px;
    border-radius: 20%;
    margin-top: 10%;
    transition: transform 2s ease-out;
  }
  .currently img{
    width: 250px;
    height: 250px;
    border-radius: 20%;
    margin-top: 10%;
    transition: transform 2s ease-out;
  }
  .back img{
    width: 250px;
    height: 250px;
    border-radius: 20%;
    margin-top: 10%;
    transition: transform 2s ease-out;
  }

  .imageEnglish img:hover{
    cursor: pointer;
    transform: scale(1.2);
  }
  .currently img:hover{
    cursor: pointer;
    transform: scale(1.2);
  }
  .frontStack img:hover{
    cursor: pointer;
    transform: scale(1.2);
  }
  .back img:hover{
    cursor: pointer;
    transform: scale(1.4);
  }

  
  @keyframes slidein {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0%);
    }
  }
  @keyframes slideUp{
    from{
      opacity: 0;
      transform: translateY(-100%);
    }
    to{
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes showImage{
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
  }
  